body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
}
button {
  border-width: 0;
}
:root {
  --bg-color: #ffffff;
}
:root {
  --color-text-paragraph: #434455;
}
:root {
  --color-text-header: #2e2f42;
}
:root {
  --color-logo-link: #4d5ae5;
}
:root {
  --font-weight: 500;
}
:root {
  --color-btn-border-link: #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}
.link-logo {
  color: var(--color-logo-link);
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.color-logo {
  color: var(--color-text-header);
}

.list-menu {
  color: var(--color-text-header);
  font-weight: var(--font-weight);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-menu :hover,
.list-menu :focus {
  color: #404bbf;
  text-decoration: underline;
}
.link-menu {
  padding: 24px 0;
}
.contacts {
  font-style: normal;
}

.list-contacts {
  color: var(--color-text-paragraph);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-contacts:hover,
.list-contacts:focus {
  color: #404bbf;
}

.main-btn {
  display: block;
  min-width: 169px;
  border: none;
  margin: 0 auto;
  color: var(--bg-color);
  background: #4d5ae5;
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
}
.head-bg-color {
  background-color: var(--color-text-header);
  width: 100%;
  text-align: center;
  padding: 188px 0;
}
.head-text {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-color);
  margin: 0 auto 48px auto;
}

.section {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.img-work {
  display: flex;
  gap: 24px;
}
.list-work {
  width: calc((100% - 48px) / 3);
}
.btn {
  font-family: inherit;
  background-color: #f4f4fd;
  cursor: pointer;
  font-weight: var(--font-weight);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-logo-link);
  text-align: center;
  letter-spacing: 0.04em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.btn:hover,
.btn:focus {
  border: 1px solid transparent;
  background: #404bbf;
  color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-name {
  color: var(--color-text-header);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.projects {
  color: var(--color-text-header);
  font-size: 20px;
  font-weight: var(--font-weight);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.categories {
  color: var(--color-text-paragraph);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team {
  background-color: #f4f4fd;
  width: 100%;
}
.our-team {
  display: flex;
  gap: 24px;
}
.team-foto {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.name-job {
  padding: 32px 16px;
}

.bg-footer {
  background-color: var(--color-text-header);
  padding: 100px 0;
}
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.color-logo-footer {
  color: #f4f4fd;
}
.list-btn {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.list-works {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-works {
  width: calc((100% - 48px) / 3);
  align-items: center;

  border-top: none;
}
.item-works:hover,
.item-works:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.link-logo-footer {
  display: inline-block;
  color: var(--color-logo-link);
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.section-portfolio {
  padding: 96px 0 120px 0;
}
